<div class="" name="CreatePresentaion" nm="CreatePresentaion" style="background: #D3D3D3; border: 1px solid black; border-radius:5px; padding:5px">
  <h3 class="trillo-form-title" style="text-align:center"> Create Presentation </h3>
  <form>
    <div class="form-group">
      <label for="userId">Presentation Number</label>
      <input type="text" class="form-control" nm="presNum">
    </div>
    <div class="form-group">
      <label for="password">Date of Presentaion</label>
      <input type="date" class="form-control" nm="dateOfPres">
    </div>
    <div class="form-group">
      <label for="rptPassword">Name of Proposer(New)</label>
      <input type="text" class="form-control" nm="newPorpName">
    </div>
    <div class="form-group">
      <label for="rptPassword">Name of Proposer(Saved)</label>
      <input type="text" class="form-control" nm="SavedPropName">
    </div>
    <div class="form-group">
      <label for="role">Name of minor child/Joint life</label>
      <select class="form-control" nm="nameMinor">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Income tax slab</label>
      <select class="form-control" nm="ITslab">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="rptPassword">Date of Commencement</label>
      <input type="date" class="form-control" nm="dateofCommence">
    </div>
    <div class="form-group">
      <label for="role">Plan Number/Name</label>
      <select class="form-control" nm="planNum">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Policy Term</label>
      <select class="form-control" nm="polterm">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Premium Paying Term</label>
      <select class="form-control" nm="premiumPaying">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Mode of Premium</label>
      <select class="form-control" nm="premiumMode">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="userId">Presentation Number</label>
      <input type="text" class="form-control" nm="pres_num">
    </div>
    <div class="form-group">
      <label for="role">Optional Riders</label>
      <select class="form-control" nm="optRider">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Maturity Settelment Option</label>
      <select class="form-control" nm="matStmt">
        <option value="select"> Select </option>
        <option value="dev"> Developer </option>
        <option value="admin"> Admin </option>
      </select>
    </div>
    <div class="form-group">
      <label for="userId">For paid-up Illustration</label>
      <input type="text" class="form-control" nm="forpaidup">
    </div>
    <div class="trillo-dialog-button-group">
      <button type="button" nm="close" class="btn btn-primary js-tool">Cancel</button>
      <button type="submit" nm="ok" class="btn btn-primary js-tool">Submit</button>
    </div>
  </form>
</div>