<div class="trillo-application js-application" nm="DO_dashboard">
  <h1 data-component="h1" class="trillo-component" nm="h1_2" data-trigger="_initial_/home_" style="height: 50px; text-align: center; font-family: &quot;Times New Roman&quot;; font-size: 30px; background-color: #87CEFA; padding: 7px; flex-grow: 0; display: block !important;"> Prerana Insurance</h1>
  <div data-component="text" class="form-group" nm="text_2" data-trigger="_initial_/home_" style="text-align:center; margin-top:100px; display: block !important;" trillo-selected-parent-attr="selected">
    <label data-label="" style="padding:10px; border: 1px solid black; border-radius:5px; background-color:#87CEFA">Development Officer</label>
    <br>
    <br>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_1" data-trigger="_initial_/home_" style="width: 500px;">Create Presentation</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_2" data-trigger="_initial_/home_" style="width: 500px;">Single/Multiple Plan</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_3" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Update Presentation Register</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_4" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Prerana Plan Updates, Forms and Charts</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_5" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Prerana Books</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_6" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Ready Combination</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_7" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Sales CRM with Agency Prospect Analysis</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_8" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Daily Activity Reporting and Analysis</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_9" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Summary of Sales and Presentations of all Agents</button>
    <button data-component="button" type="button" class="btn btn-primary" nm="button_10" data-trigger="_initial_/home_" style="width: 500px; margin-top:10px;">Summary and Analysis of Agents Activities and Prospecting</button>
  </div>
</div>
