<div class="trillo-dv-narrow" nm="PlansForms" style="background: #D3D3D3; border: 1px solid black; border-radius:5px; padding:5px;">
  <h3 class="trillo-form-title" style="text-align:center"> Prerana Plan Updates, Forms and Charts </h3>
  <form>
    <div class="trillo-dialog-button-group">
      <button type="button" nm="replacedoc" class="btn btn-primary js-tool">Replace Document</button>
      <button type="button" nm="addnewdoc" class="btn btn-primary js-tool">Add New Document</button>
    </div><br><br>
    <div class="form-group">
      <label>Prerana Updates of All Plans</label><br>
      <button type="button" nm="download_1" class="btn btn-primary js-tool">Download</button>
      <button type="button" nm="viewpdf_1" class="btn btn-primary js-tool">View PDF</button>
    </div>
    <div class="form-group">
      <label>Non-Medical & Medical Charts</label><br>
      <button type="button" nm="download_2" class="btn btn-primary js-tool">Download</button>
      <button type="button" nm="viewpdf_2" class="btn btn-primary js-tool">View PDF</button>
    </div>
    <div class="form-group">
      <label>NB Forms</label><br>
      <button type="button" nm="download_3" class="btn btn-primary js-tool">Download</button>
      <button type="button" nm="viewpdf_3" class="btn btn-primary js-tool">View PDF</button>
    </div>
    <div class="form-group">
      <label>PS & Claims Forms</label><br>
      <button type="button" nm="download_4" class="btn btn-primary js-tool">Download</button>
      <button type="button" nm="viewpdf_4" class="btn btn-primary js-tool">View PDF</button>
    </div>
  </form>
</div>