<div class="trillo-dv-narrow" nm="UpdatePres" style="background: #D3D3D3; border: 1px solid black; border-radius:5px; padding:5px">
  <h3 class="trillo-form-title" style="text-align:center"> Update Presentation </h3>
  <form>
    <div class="form-group">
      <label for="role">Presentation 1</label>
      <select class="form-control" nm="pres1">
        <option value="select"> Select </option>
        <option value="pendin"> Pending </option>
        <option value="salesclosed"> Sales Closed </option>
        <option value="cancel"> Cancel </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Presentation 2</label>
      <select class="form-control" nm="Pres2">
        <option value="select"> Select </option>
        <option value="pendin"> Pending </option>
        <option value="salesclosed"> Sales Closed </option>
        <option value="cancel"> Cancel </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Presentation 3</label>
      <select class="form-control" nm="pres3">
        <option value="select"> Select </option>
        <option value="pendin"> Pending </option>
        <option value="salesclosed"> Sales Closed </option>
        <option value="cancel"> Cancel </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Presentation 4</label>
      <select class="form-control" nm="pres4">
        <option value="select"> Select </option>
        <option value="pendin"> Pending </option>
        <option value="salesclosed"> Sales Closed </option>
        <option value="cancel"> Cancel </option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Presentation 5</label>
      <select class="form-control" nm="pres5">
        <option value="select"> Select </option>
        <option value="pendin"> Pending </option>
        <option value="salesclosed"> Sales Closed </option>
        <option value="cancel"> Cancel </option>
      </select>
    </div>
    <div class="trillo-dialog-button-group">
      <button type="button" nm="close" class="btn btn-primary js-tool">Cancel</button>
      <button type="submit" nm="update" class="btn btn-primary js-tool">Update</button>
    </div>
  </form>
</div>