<div class="trillo-root-elem">
  <div class="trillo-auth-application js-application">
    <nav nm="header" class="navbar navbar-expand-md navbar-inverse bg-dark fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" nm="_elem__1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/{{{orgName}}}/auth/login" class="navbar-brand text-white" title="Home" nm="_elem__2">
        <img class="main-logo" src="{{{logoStamp}}}" nm="_elem__3">
        <span class="main-app-name">{{{displayName}}}</span>
      </a>
    </nav>
    <div class="singup-button-container trillo-clearfix js-show-on-auth-choice-2 js-show-on-auth-choice-3 trillo-display-none">
      <div class="trillo-pull-right">
        <div class="signup-prompt"> New User? </div>
        <a href="/{{{orgName}}}/auth/signup" class="btn btn-sm" nm="_elem__4"> Signup </a>
      </div>
    </div>
    <div class="main-content-area login-box">
      <div class="trillo-form-container">
        <div class="trillo-form-container-inner">
          <h1 class="trillo-form-title"> Login </h1>
          <div class="login-fail-alert"> Your credentials are incorrect. Please reenter correct user-id and password combination. </div>
          <form action="/doLogin" method="post">
            <div class="form-group">
              <input type="text" placeholder="Name or Email" class="form-control" tabindex="1" name="j_username" data-validation="required" data-validation-error-msg-required="Enter user id">
            </div>
            <div class="form-group">
              <input tabindex="2" type="password" placeholder="Password" class="form-control" name="j_password" data-validation="required" data-validation-error-msg-required="Enter password">
            </div>
            <div style="display:none" class="checkbox reme-checkbox">
              <label class="checkbox">
                <input tabindex="5" name="reme" type="checkbox">
                Keep me logged in
              </label>
            </div>
            <div class="form-group" style="padding-top:0.5rem">
              <button tabindex="3" type="submit" class="btn js-login" nm="_elem__5">Login</button>
              <a tabindex="4" href="/{{{orgName}}}/auth/forgotPassword" class="forgot-password-link" nm="_elem__6"> Forgot your password? </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="trillo-alert-c">
    <div style="display:none" class="trillo-alert alert alert-danger js-alert">
      <button type="button" nm="close" class="close">×</button>
      <h4 class="js-title"> 	 Error! 	 </h4>
      <span class="js-message">Error message.</span>
    </div>
  </div>
  <div class="js-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" nm="modalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" nm="_elem__7">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p nm="modalMessage"> </p>
        </div>
        <div class="modal-footer">
          <button type="button" nm="modalYes" display="none" class="btn btn-primary">Yes</button>
          <button type="button" nm="modalNo" display="none" class="btn btn-primary">No</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" nm="_elem__8">Close</button>
          <button type="button" nm="modalOK" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" nm="footer">
    <div class="container-fluid">
      <div id="navbar">
        <ul nm="footerNav" class="nav navbar-nav navbar-left js-navigation">
          <li nm="about" class="js-menu-item" style="">
            <a href="/About" nm="_elem__9"> About </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="text-muted"> © 2019 Trillo Inc. All Rights Reserved. </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
